src/main/resources/xsd/bookshelf.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://spring.io/guides/gs-producing-web-service"
           targetNamespace="http://spring.io/guides/gs-producing-web-service"
           elementFormDefault="qualified">

    <xs:complexType name="BookAuthorDTO">
        <xs:sequence>
            <xs:element name="bookName" type="xs:string"/>
            <xs:element name="dateOfBirth" type="xs:string"/>
            <xs:element name="countryOfOrigin" type="xs:string"/>
            <xs:element name="authorName" type="xs:string"/>
            <xs:element name="publicationYear" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AuthorDTO">
        <xs:sequence>
            <xs:element name="authorName" type="xs:string"/>
            <xs:element name="dateOfBirth" type="xs:string"/>
            <xs:element name="countryOfOrigin" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BookDTO">
        <xs:sequence>
            <xs:element name="bookName" type="xs:string"/>
            <xs:element name="publicationYear" type="xs:string"/>
            <xs:element name="authorId" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="CreateBookAuthorRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bookAuthorDTO" type="tns:BookAuthorDTO"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreateBookAuthorResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>