backend/src/main/resources/xsd/book.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://spring.io/guides/gs-producing-web-service"
           targetNamespace="http://spring.io/guides/gs-producing-web-service"
           elementFormDefault="qualified">
    <xs:include schemaLocation="author.xsd"/>

    <!--  Definitions  -->
    <xs:complexType name="Book">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="publicationYear" type="xs:string"/>
            <xs:element name="authorName" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Request and Response for CreateBook operation -->
    <xs:element name="CreateBookRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="book" type="tns:Book"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreateBookResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bookId" type="xs:long"/>
                <xs:element name="message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Request and Response for GetBook operation -->
    <xs:element name="GetBookRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetBookResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="book" type="tns:Book" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetBooksRequest">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetBooksResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="books" type="tns:Book" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Request and Response for UpdateBook operation -->
    <xs:element name="UpdateBookRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="book" type="tns:Book"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="UpdateBookResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="book" type="tns:Book"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Request and Response for DeleteBook operation -->
    <xs:element name="DeleteBookRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bookId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="DeleteBookResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>




</xs:schema>